<section class="list-view">
<p class="name-input">The UserId is <%= user.id %></p><br>
<p class="name-input">The Name of User: <%= user.name %></p><br>
<p class="email-input">Email: <%= user.email %></p><br>
<p class="phone-input">Phone Number: <%= user.phone %></p><br>
<p class="address-input">Address: <%= user.address %></p><br>
<% if user.role == "customer" %>
  <% count = 0 %>
   <% Order.all.each do |order| %>
      <% if order.user_id == user.id && order.price != nil %>
          <% count=count+1 %>
      <% end %>
  <% end %>
  <p>Order's Count: <%= count %></p>
<% end %>

</section>
