<section class="list-view">
<p class="name-input">The UserId is <%= user.id %></p><br>
<p class="name-input">The Name of User: <%= user.name %></p><br>
<p class="email-input">Email: <%= user.email %></p><br>
<p class="phone-input">Phone Number: <%= user.phone %></p><br>
<p class="address-input">Address: <%= user.address %></p><br>
</section>
